@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Inter:wght@100&display=swap');
@import url("https://use.typekit.net/iyl6ftd.css");

:root {
    /* Code couleur BRONZE */
    --bronze-color: #231403;
    --bronze-color-hover: #301B04;
    --bronze-color-focus: #3A2206;

    /* Code couleur ORANGE */
    --orange-color: #F29A7E;
    --orange-color-hover: #FFA285;
    --orange-color-focus: #E39076;

    /* Code couleur BLANC */
    --white-color: #FFFFFF;
    --white-color-hover: #F7F7F7;
    --white-color-focus: #EDEDED;

    /* Code couleur RED */
    --red-color: #E15C5C;

     /* Code couleur VERT */
     --green-color: #5FE15C;

      /* Code couleur BLEU */
      --blue-color: #5CA1E1;
}

.bold{
    font-weight: bold;
}

a, a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}
li{
    font-family: futura-pt, sans-serif;

}