:root {
    /* Code couleur BRONZE */
    --bronze-color: #231403;
    --bronze-color-hover: #301B04;
    --bronze-color-focus: #3A2206;

    /* Code couleur ORANGE */
    --bronze-color: #F29A7E;
    --bronze-color-hover: #FFA285;
    --bronze-color-focus: #E39076;

    /* Code couleur BLANC */
    --bronze-color: #FFFFFF;
    --bronze-color-hover: #F7F7F7;
    --bronze-color-focus: #EDEDED;

    /* Code couleur RED */
    --bronze-color: #E15C5C;

     /* Code couleur VERT */
     --bronze-color: #5FE15C;

      /* Code couleur BLEU */
      --bronze-color: #5CA1E1;
  }