.wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bronze-color);
  height: 112px;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

#logo{
margin-left: 30px;
}
#language{
  background-color: var(--white-color);
  padding: 6px 10px;
  width: fit-content;
  border-radius: 20px;
  font-family: futura-pt, sans-serif;
}

#categories{
  display: flex;
}

#categories > li {
  color: var(--white-color);
  font-weight: bold;
  margin: 0 10px;
}
#ticket > a{
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 12px 36px;
  border-radius: 20px;
  font-weight: bold;
  font-family: futura-pt, sans-serif;
}