.pstn{
    position: relative;
}
.slider .content{
    position: absolute;
    top: 60%;
    padding: 0px 90px
}
.slider .text{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.slider .subtitle{
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 31.25px;
    line-height: 39px;
    color: white;
}
.slider .title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: white;
}
.slider .flex-text{
    display: flex;
    align-items: flex-end;
}